.room-recommendation__title {
  font-size: 28px;
  font-weight: 400;
}

.room-recommendation__card {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, .12);
  cursor: pointer;
  transition: transform 250ms ease-out;
}

.room-recommendation__card:hover {
  transform: scale(102%);
}

.card-title {
  // opacity: 0.95;
  font-weight: 400;
}

.card-text {
  font-weight: 300;
  opacity: 0.9;
}

.recommendation-price span {
  font-weight: 500;
  font-size: 20px;
}

.room-recommendation__card .room-rating__review-star img {
  width: 20px;
}

@media (min-width: 992px) {
  .room-recommendation__title {
    font-weight: 500;
  }
}