.room-rating__review {
  padding-left: .75rem;
}

.room-rating__review-star {
  padding-right: 3px !important;
}

.room-rating__review-star img {
  width: 32px;
}

.room-rating__review-count {
  opacity: 0.9;
}