@use '../../../../../assets/css/scss/foundation/colors';

#navbar {
  position: relative;
}

.navbar__background {
  background-color: colors.$bg-main;
}

.navbar__row {
  height: 100px;
  background-color: colors.$bg-main;
  padding: 0 20px;
}

.navbar__brand img {
  // display: block;
  width: 120px;
}

.navbar__brand p {
  font-family: "Josefin_Sans";
  padding-top: 5px;
  font-size: 24px !important;
  font-weight: 600;
  line-height: 1.2;
}

.navbar__link:hover {
  text-decoration: underline;
}

.navbar__signup-button {
  border: 3px solid transparent;
}

.navbar__logout-button {
  padding: 8px 16px;
  opacity: 0.85;
  transition: opacity 200ms;
}

.navbar__logout-button img {
  width: 60px;
}

.navbar__logout-button:hover {
  opacity: 1;
}

.sidebar-button img {
  width: 23px;
  margin: 9px 6px;
}

.navbar__link.active {
  font-weight: 600;
}